* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo de header */
header {

    background-color: #69a6e8;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
}
h1{
    font-family: 'Georgia';
}
h2{
    font-family: 'Lucida Sans';
}
p{
    font-family:'Segoe UI';
}

/* Crear 2 columnas con la misma posición en la fila */
nav {
    float: left;
    width: 30%;
    height: 300px;
    /* only for demonstration, should be removed */
    background: #beefec;
    padding: 20px;
}

nav ul {
    list-style-type:lower-latin;
    padding: 20px;
}

article {
    float:left;
    padding: 20px;
    width: 70%;
    background-color: #f8c2c2;
    height: 300px;
}

img{
border: 5px solid #f8c2c2; 
border-radius: 50%;
animation: giro 5s linear infinite;
float: right;
top: auto; 

}
@keyframes giro {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
    

table{
    width: 30% auto;
     margin: 20px auto;
    border-collapse:collapse;
    border: 2px solid #000000;
    text-align: center;
    padding: 4px;
    }

tr,td{
    background-color: #cbc2f8;
    border-collapse: collapse;
    border: 1px solid #000000;
    text-align: center;
    padding: 4px;

}
th{
    background-color: #f2f2f2; 
    color: #333; 
    font-weight: bold;
    border-collapse: collapse;
    border: 1px solid #000000;
    padding: 4px;

}


/* Clear floats after the columns */
/* section::after{
    content:"";
    display:table;
    clear: both;
} */

/* Estilo de footer */
footer {
    font-family: 'Trebuchet MS';
    background-color: #006ac2;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout */
@media (max-width: 600px) {

    nav,
    article,table {
        width: 100%;
        height: auto;
    }
}